/*节点的几种状态样式*/
.el-node-state-success {
  color: #84CF65;
  cursor: default;
}

.el-node-state-error {
  color: #F56C6C;
  cursor: default;
}

.el-node-state-warning {
  color: #E6A23C;
  cursor: default;
}

.el-node-state-running {
  color: #84CF65;
  cursor: default;
}
